<div class=".row">
<div class="col-md-12 text-center"><h4><%= t 'controllers.auth.login_required' %></h4></div>
<div class="col-md-6 text-center"><%= link_to(t("controllers.auth.user"), user_omniauth_authorize_path(:google_oauth2)) %></div>
<div class="col-md-6 text-center"><%= t("controllers.auth.admin") %></div>
</div>
