<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/superslides.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery.animate-enhanced.min.js"></script>
  <script src="/jquery.superslides.min.js"></script>
</head>
<body>

  <div id="slides">
    <div class="slides-container">
    </div>
  </div>

  <script>
    $(document).on('slideDataReady', function(e) {
      var container = $('.slides-container');
      var slidedata = e.originalEvent.detail.slideData;

      $.each(slidedata, function(i, slide) {
        container.append("<img src=\"" + slide.image.url + "\" />");
        // <% if slide.is_image? %>
        //   <%= image_tag slide.image.url, alt: ''%>
        // <% elsif slide.is_video? %>
        //   <video src="<%=slide.image_url%>" autoplay></video>
        // <% else %>
        //   <% raise "slide format not supported!" %>
        // <% end %>
      });

      var playVideo = function(e, transition) {
        var slide = container.children(':eq(' + transition.upcoming_slide + ')')[0];
        if (slide.tagName.toLowerCase() == 'video') {
          slide.play();
        }
      }
      var onAnimating = function(e, transition) {
        // Tell the system when this slideshow is over.
        if (transition.upcoming_slide == 0) {
          GrowingPanes.done();
          return false;
        }
        playVideo(e, transition);
      }
      var playVideoFirst = function(e) {
        playVideo(e, {upcoming_slide: 0});
      }

      $('#slides').on('init.slides', playVideoFirst);
      $('#slides').superslides({
        play: 7500, 
        pagination: false,
        animation: 'slide'
      })

      $('#slides').on('animating.slides', onAnimating);
    });
  </script>

</body>
</html>
